<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-ventas-usuarios">
      <ion-icon class="icon-menu-admin" name="reader-sharp"></ion-icon>
      Ventas de Usuarios
      <ion-icon class="icon-menu-admin" name="reader-sharp"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mostrar un mensaje si no hay ventas -->
  <div *ngIf="!(ventasAdmin$ | async)?.length" class="mensaje-historial-ventas-vacio">
    <h2 class="titulo-sin-ventas">
      <span>No</span>
      <span>Hay</span>
      <span>Ventas</span>
      <span>Realizadas</span>
    </h2>
  </div>

  <!-- Mostrar las ventas cuando existan -->
  <ion-list *ngIf="ventasAdmin$ | async as ventas" class="lista-ventas">
    <ion-item *ngFor="let venta of ventas" class="lista">
      <ion-card>
        <ion-card-header>
          <!-- Mostrar el número de la venta como título -->
          <ion-card-title>Nro Venta: {{ venta.id_compra }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          
          <!-- Iterar sobre los productos asociados a la venta -->
          <div *ngFor="let producto of venta.productos" class="venta-item">
            <!-- Mostrar el nombre del producto -->
            <p class="venta-producto-nombre"><strong>{{ producto.nombre_prod }}</strong></p>

            <!-- Mostrar la foto del producto (si existe) -->
            <div class="venta-producto-imagen">
              <img *ngIf="producto.foto_prod" [src]="producto.foto_prod" alt="Foto del producto" class="foto-producto">
            </div>

            <!-- Mostrar la cantidad del producto -->
            <p class="venta-cantidad"><strong>Cantidad:</strong> {{ producto.cantidad }}</p>

            <!-- Mostrar el correo del usuario -->
            <p class="venta-correo-usuario"><strong>Correo:</strong> {{ venta.correo_usuario }}</p>

            <!-- Mostrar la fecha de la venta debajo del correo -->
            <p class="fecha-venta"><strong>Fecha de Venta:</strong> {{ venta.fecha_compra | date: 'dd/MM/yyyy' }}</p>

            <!-- Mostrar el total pagado por el producto -->
            <p class="venta-total">
              <strong>Total pagado:</strong> 
              <span *ngIf="producto.subtotal % 1 !== 0">
                {{ producto.subtotal | number:'1.2-2' }}
              </span>
              <span *ngIf="producto.subtotal % 1 === 0">
                $ {{ producto.subtotal }}
              </span>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>








