<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="TituloPlaystation">
      <ion-icon name="logo-playstation"></ion-icon>
      Zona de playstation
      <ion-icon name="logo-playstation"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <h1 class="titulo-juegos-ps">Juegos de Battle Royale</h1>
  
    <div *ngFor="let producto of productosPlayStation">
      <h2 class="titulo-juegos-ps">{{ producto.nombre }}</h2>
      <img [src]="producto.imagenUrl" />

      <div class="alinear-precio-botones">
         <p class="precio">Precio: {{ formatCurrency(producto.precio) }}</p>
  
         <div class="espacio-botones-dis-aum">
            <ion-button class="boton-disminuir-aumentar" (click)="disminuirCantidad(producto)">-</ion-button>
            <span class="color-numero">{{ producto.cantidad || 1 }}</span>
            <ion-button class="boton-disminuir-aumentar" (click)="aumentarCantidad(producto)">+</ion-button>
       </div>
        </div>
      
      <ion-button class="boton-agregar" (click)="irCarrito()">Agregar al Carrito</ion-button>
      <p class="descripcion-juegos-ps">{{ producto.descripcion }}</p>
    </div>

</ion-content>
