
.TituloPlaystation{
    padding-left: 40px;
    color: black;
    font-weight: bold;
}
ion-toolbar{
    --background: #b4f6a8;
  }
  ion-content{
    --background: #a8f6c6;
  }
  .boton-agregar{
    display:flex;
  }
.precio{
  text-align: center;
}