
.TituloPlaystation {
  padding-left: 40px;
  color: black;
  font-weight: bold;
}
.color-menu {
  color: black;
}

.titulo-juegos-ps {
  text-align: center;
  color: black;
  margin: 20px 0; /* Espacio alrededor del título */
}

.descripcion-juegos-ps {
  color: black;
  text-align: center; /* Centrar la descripción */
}

.color-numero {
  color: black;
}

ion-toolbar {
  --background: #b4f6a8;
}

ion-content {
  --background: #a8f6c6;
  display: flex; /* Flex para centrar contenido */
  flex-direction: column; /* Alineación vertical */
  align-items: center; /* Centrar los elementos */
  padding: 16px; /* Añadir padding para espaciar el contenido */
}

.imagen-juego {
  max-width: 100%; /* Hacer que la imagen no exceda el contenedor */
  height: auto; /* Mantener proporciones de la imagen */
}

.boton-agregar {
  display:flex;
}

.precio {
  color: black; 
  font-weight: bold;
  padding-left: 40px;
}

.stock-disponible{
  color: black; 
  font-weight: bold;
  padding-right: 40px;
}

.alinear-precio-stock {
  display: flex; 
  align-items: center; 
  justify-content: space-between; /* Distribuye los elementos entre sí */
  width: 100%; /* Asegúrate de que ocupe todo el ancho del contenedor */
  margin: 16px 0; /* Mantén el margen superior e inferior */
}


  
  
  
  