<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="TituloPlaystation">
      <ion-icon name="logo-playstation"></ion-icon>
      Zona de playstation
      <ion-icon name="logo-playstation"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1 class="titulo-juegos-ps">Juegos de Battle Royale</h1>

  <div *ngFor="let producto of productosPlayStation">
    <h2 class="titulo-juegos-ps">{{ producto.nombre }}</h2>
    <img [src]="producto.imagenUrl" class="imagen-juego" />

    <div class="alinear-precio-stock">
      <p class="precio">Precio: {{ formatCurrency(producto.precio) }}</p>
      <p class="stock-disponible">Stock disponible: {{ producto.stock }}</p>
    </div>

    <ion-button class="boton-agregar" (click)="guardarProductoEnBD(producto)">Agregar al Carrito</ion-button>
    <p class="descripcion-juegos-ps">{{ producto.descripcion }}</p>
  </div>
</ion-content>




