
.Crear-cuenta{
    text-align: center;
    color: black;
    font-weight: bold;
}
.contraseña-registro{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 40px;
    --padding-start: 0;
}

.nombre-registro{
    margin: auto;
    width: 350px;
    --padding-start: 0;
    padding-top: 10px;
}
.apellido-registro{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 10px;
    --padding-start: 0;
}
.telefono-registro{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 20px;
    --padding-start: 0;
}
.correo-registro{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 30px;
    --padding-start: 0;
}
.confirmar-contraseña-registro{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 50px;
    --padding-start: 0;
}

.ingresar-datos{
    text-align: center;
    color: black;
}
#present-alert{
    margin-top: 30px;
}
.boton-perfil{
    padding-top: 50px;
    padding-left: 40px;
    margin-top: 20px;
}
.boton-regresar-login{
    padding-top: 60px;
    padding-left: 50px;

}
.boton-registrarme {
    padding-top: 60px;
    padding-left: 20px;
}

.contenedor-foto {
    display: flex;
    flex-direction: column; /* Ordena en columna: imagen arriba, botón abajo */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    gap: 15px; /* Espacio entre la imagen y el botón */
  }
  
  .foto {
    height: 150px;
    width: 150px;
    border-radius: 50%; /* Foto circular */
    object-fit: cover; /* Evita distorsión */
    border: 2px solid rgb(16, 180, 158);
  }
  
  .tomar-foto {
    width: 50%; /* Ajusta el ancho del botón */
    text-align: center; /* Centra el texto del botón */
  }  

ion-toolbar{
    --background: #b4f6a8;
  }
  ion-content{
    --background: #a8f6c6;
  }