<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="Crear-cuenta">
      <ion-icon name="person-add"></ion-icon>
      Crea tu cuenta
      <ion-icon name="person-add"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h2 class="ingresar-datos">Ingrese sus datos</h2>
  <ion-textarea class="nombre-registro" label="Nombre" labelPlacement="floating" fill="solid" placeholder="Ingrese su nombre"
  [(ngModel)]="Nombre"></ion-textarea>
  <br>
  <ion-textarea class="apellido-registro" label="Apellido" labelPlacement="floating" fill="solid" placeholder="Ingrese su apellido"[(ngModel)]="Apellido"></ion-textarea>
  <br>
  <ion-textarea class="telefono-registro" label="Numero telefonico" labelPlacement="floating" fill="solid" placeholder="Ingrese su numero de telefono"
  [(ngModel)]="Telefono"></ion-textarea>
  <br>
  <ion-input class="correo-registro"
  type="email"
  fill="solid"
  label="Email"
  labelPlacement="floating"
  placeholder="Ingrese su correo"
  errorText="Correo Invalido"
  ngModel
  email
  [(ngModel)]="Correo"></ion-input>
  <br>
  <ion-input class="contraseña-registro" label="Contraseña" type="password" label-placement="floating" fill="solid" placeholder="Ingrese su contraseña" [(ngModel)]="Contrasena"></ion-input>
  <br>
  <ion-input class="confirmar-contraseña-registro" label="Confirmar contraseña" type="password" label-placement="floating" fill="solid" placeholder="Ingrese su contraseña"></ion-input>

  <ion-button class="boton-registrarme" (click)="registrar()">Registrarme</ion-button>
  
  <ion-button class="boton-casa" color="primary" (click)="irHome()">Ir a inicio</ion-button>
  <ion-button class="boton-perfil" color="primary" (click)="irPerfil()">Ir al Perfil</ion-button>
</ion-content>
