
.Crear-cuenta{
    text-align: center;
}

.nombre{
    margin-top: 10px;
}

.ingresar-datos{
    text-align: center;
}
#present-alert{
    margin-top: 30px;
}
.boton-casa{
    margin-top: 30px;
}
.boton-perfil{
    margin-top: 30px;
}
ion-toolbar{
    --background: #b4f6a8;
  }
  ion-content{
    --background: #a8f6c6;
  }