
.Crear-cuenta{
    padding-left: 65px;
    color: black;
    font-weight: bold;
}
.contraseña-registro{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 40px;
    --padding-start: 0;
}

.nombre-registro{
    margin: auto;
    width: 350px;
    --padding-start: 0;
}
.apellido-registro{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 10px;
    --padding-start: 0;
}
.telefono-registro{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 20px;
    --padding-start: 0;
}
.correo-registro{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 30px;
    --padding-start: 0;
}
.confirmar-contraseña-registro{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 50px;
    --padding-start: 0;
}

.ingresar-datos{
    text-align: center;
}
#present-alert{
    margin-top: 30px;
}
.boton-perfil{
    padding-top: 50px;
    padding-left: 40px;
    margin-top: 20px;
}
.boton-registrarme{
    padding-top: 50px;
    padding-left: 30px;
    margin-top: 20px;
}
ion-toolbar{
    --background: #b4f6a8;
  }
  ion-content{
    --background: #a8f6c6;
  }