<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="Crear-cuenta">
      <ion-icon name="person-add"></ion-icon>
      Crea tu cuenta
      <ion-icon name="person-add"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h2 class="ingresar-datos">Ingrese sus datos</h2>
  <div class="contenedor-foto">
    <img class="foto" *ngIf="imagen" [src]="imagen" alt="Sin imagen" />
    <ion-button expand="block" class="tomar-foto" (click)="takePicture()">Tomar Foto</ion-button>
  </div>
  
  <form class="nombre-registro"(ngSubmit)="ValidacionRegistro()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input class="nombre-registro" label="Nombre" label-placement="floating" fill="solid" 
      placeholder="Ingrese su nombre" [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>
  </form>
  
  <form class="apellido-registro"(ngSubmit)="ValidacionRegistro()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input class="apellido-registro" label="Apellido" label-placement="floating" fill="solid" 
      placeholder="Ingrese su apellido" [(ngModel)]="apellido" name="apellido" required></ion-input>
    </ion-item>
  </form>

  <form class="telefono-registro"(ngSubmit)="ValidacionRegistro()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input class="telefono-registro" label="Telefono" label-placement="floating" fill="solid" 
      placeholder="Ingrese su número de teléfono" [(ngModel)]="telefono" name="telefono" required></ion-input>
    </ion-item>
  </form>
  
  <form class="correo-registro"(ngSubmit)="ValidacionRegistro()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input class="correo-registro" label="Correo" label-placement="floating" fill="solid" 
        placeholder="Ingrese su correo" [(ngModel)]="correo" name="correo" required></ion-input>
    </ion-item>
  </form>

  <form class="contraseña-registro"(ngSubmit)="ValidacionRegistro()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input type="password" class="contraseña-registro" label="Contraseña" label-placement="floating" fill="solid" 
      placeholder="Ingrese su contraseña" [(ngModel)]="contrasena" name="contrasena" required></ion-input>
    </ion-item>
  </form>

  <form class="confirmar-contraseña-registro"(ngSubmit)="ValidacionRegistro()">
    <ion-item>
      <ion-label position="floating"></ion-label>
    <ion-input type="password" class="confirmar-contraseña-registro" label="Confirmar Contraseña" label-placement="floating" 
      fill="solid" placeholder="Confirme su contraseña" [(ngModel)]="confirmarContrasena" name="confirmarContrasena" required></ion-input>
    </ion-item>
  </form>

  <ion-button class="boton-regresar-login" (click)="irlogin()">Volver inicio</ion-button>
  <ion-button class="boton-registrarme" (click)="ValidacionRegistro()">Registrarme</ion-button>

  

</ion-content>
