<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-admin">
      <ion-icon name="shield"></ion-icon>
      Administrador 
      <ion-icon name="shield"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="titulo-pag-admin">Lista de Usuarios</h2>
  
  <ion-list class="lista-usuarios">
    <ion-item *ngFor="let usuario of usuarios" class="item">
      <ion-label>
        <h2 class="Titulo-usuario">{{ usuario.nombreuser }} {{ usuario.apellidouser }}</h2>

        <div class="datos-row">
          <span class="datos-label">Correo:</span>
          <span class="datos-value">{{ usuario.correo_user }}</span>
        </div>

        <div class="datos-row">
          <span class="datos-label">Teléfono:</span>
          <span class="datos-value">{{ usuario.telefono_user }}</span>
        </div>

        <div class="datos-row">
          <span class="datos-label">Contraseña:</span>
          <ion-input 
            type="password" 
            [value]="usuario.clave_user" 
            readonly 
            class="password-input">
          </ion-input>
        </div>

      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

