<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-admin">
      <ion-icon name="shield"></ion-icon>
      Administrador 
      <ion-icon name="shield"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="lista-usuarios">
    <ion-item *ngFor="let usuario of usuarios" class="item">
      <ion-label>
        <h2 class="Titulo-usuario">{{ usuario.nombreuser }} {{ usuario.apellidouser }}</h2>
        <p class="datos-usuario">Correo: {{ usuario.correo_user }}</p>
        <p class="datos-usuario">Teléfono: {{ usuario.telefono_user }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
