
.titulo-admin{
    text-align: center;
    color: black;
    font-weight: bold;
}
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.lista-usuarios{
    background-color: #a8f6c6;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 160px;
    padding-top: 10px;
}
.item{
    --background: #a8f6c6; /* Fondo verde para cada ion-item */
}
.Titulo-usuario{
    color: black;
    font-weight: bold;
}
.datos-usuario{
    color: black;
}

  
  
  