
.titulo-admin{
    text-align: center;
    color: black;
    font-weight: bold;
}
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.lista-usuarios {
    background-color: #a8f6c6;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .item {
    --background: #a8f6c6;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .datos-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .datos-label {
    font-weight: bold;
    margin-right: 15px;
    flex: 0 0 120px; /* Tamaño fijo para las etiquetas */
  }
  
  .datos-value {
    flex: 1;
    text-align: left;
    color: black;
  }
  
  .password-input {
    flex: 1;
    text-align: left;
    border: none;
    background: transparent;
  }
  
  
.Titulo-usuario{
    color: black;
    font-weight: bold;
}
.titulo-pag-admin{
  text-align: center;
  color: black;
  font-weight: bold;
}
.buscar-correo{
  margin: auto;
  width: 350px;
  height: 60px;
  padding-top: 20px;
  display: flex;
  align-items: center; /* Alinea verticalmente */
}
.eliminar-boton-container {
  margin-left: 10px; /* Espacio entre el input y el botón */
}
  
  
  