<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="Titulo-perfil">
      <ion-icon name="game-controller"></ion-icon>
      Perfil de Usuario 
      <ion-icon name="game-controller"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="perfil-item">
    <div class="perfil-label">
      <strong>Nombre:</strong>
      <span>{{ datosPerfil?.nombreuser }}</span>
    </div>
  </ion-item>
  
  <ion-item class="perfil-item">
    <div class="perfil-label">
      <strong>Apellido:</strong>
      <span>{{ datosPerfil?.apellidouser }}</span>
    </div>
  </ion-item>
  
  <ion-item class="perfil-item">
    <div class="perfil-label">
      <strong>Teléfono:</strong>
      <span>{{ datosPerfil?.telefono_user }}</span>
    </div>
  </ion-item>
  
  <ion-item class="perfil-item">
    <div class="perfil-label">
      <strong>Correo:</strong>
      <span>{{ datosPerfil?.correo_user }}</span>
    </div>
  </ion-item>
  
  <ion-item class="perfil-item">
    <div class="perfil-label">
      <strong>Contraseña:</strong>
      <ion-input type="password" [value]="datosPerfil?.clave_user" readonly></ion-input>
    </div>
  </ion-item>
  
  

  <ion-button class="Boton-home" color="primary" (click)="Home()">Ir al inicio</ion-button>
  <ion-button class="boton-modificar-perfil" (click)="modificarperfil()">Modificar Perfil</ion-button>
</ion-content>

