
.Titulo-perfil{
    padding-left: 55px;
    color: black;
    font-weight: bold;
}
.Nombre-perfil{
    text-align: left;
    padding-left: 70px;
    padding-top: 20px;
}
.Apellido-perfil{
    text-align: left;
    padding-left: 70px;
    padding-top: 10px;
}
.Correo-perfil{
    text-align: left;
    padding-left: 70px;
    padding-top: 10px;
}
.Telefono-perfil{
    text-align: left;
    padding-left: 70px;
    padding-top: 10px;
}
.Contraseña-perfil{
    text-align: left;
    padding-left: 70px;
    padding-top: 10px;
}
.Boton-home{
    padding-left: 30px;
    margin-top: 20px;
}
.boton-modificar-perfil{
    padding-left: 40px;
    margin-top: 20px;
}
.imagen-niño{
    padding-top: 40px;
}
ion-toolbar{
    --background: #b4f6a8;
  }
  ion-content{
    --background: #a8f6c6;
  }