
.Titulo-perfil{
    padding-left: 55px;
    color: black;
    font-weight: bold;
}

.perfil-item {
    padding-left: 20px; /* Ajusta el padding según sea necesario */
    padding-right: 20px; /* Ajusta el padding según sea necesario */
    --background: #a8f6c6;
    color: black;
    font-weight: bold;
  }
  
  ion-item {
    display: flex;
    align-items: center; /* Mantiene la alineación vertical */
    justify-content: space-between; /* Alineación horizontal */
    padding: 10px; /* Espacio interno */
    background-color: #a8f6c6; /* Fondo del item */
    max-width: 400px; /* Define un ancho máximo para centrar el item */
    margin: 0 auto; /* Centra el item en su contenedor */
  }
  
  ion-input {
    flex: 1; /* Hace que el ion-input ocupe el espacio restante */
  }
  
  

.Boton-home{
    padding-left: 30px;
    margin-top: 20px;
}
.boton-modificar-perfil{
    padding-left: 40px;
    margin-top: 20px;
}
.imagen-niño{
    padding-top: 40px;
}
ion-toolbar{
    --background: #b4f6a8;
  }
  ion-content{
    --background: #a8f6c6;
  }