<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="Titulo-perfil">
      <ion-icon name="game-controller"></ion-icon>
      Perfil de Usuario 
      <ion-icon name="game-controller"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="Nombre-perfil">
    <ion-label position="floating">Nombre:</ion-label>
    <ion-input type="text" [value]="nombre" readonly></ion-input>
  </ion-item>
  <ion-item class="Apellido-perfil">
    <ion-label position="floating">Apellido:</ion-label>
    <ion-input type="text" [value]="apellido" readonly></ion-input>
  </ion-item>
  <ion-item class="Telefono-perfil">
    <ion-label position="floating">Telefono:</ion-label>
    <ion-input type="tel" [value]="telefono" readonly></ion-input>
  </ion-item>

  <ion-item class="Correo-perfil">
    <ion-label position="floating">Correo:</ion-label>
    <ion-input type="email" [value]="correo" readonly></ion-input>
  </ion-item>
  <ion-item class="Contraseña-perfil">
    <ion-label position="floating">Contraseña:</ion-label>
    <ion-input type="password" [value]="contrasena" readonly></ion-input>
  </ion-item>

  <ion-button class="Boton-home" color="primary" (click)="Home()">Ir al inicio</ion-button>
  <ion-button class="boton-modificar-perfil" (click)="modificarperfil()">Modificar Perfil</ion-button>
  <img class="imagen-niño" src="assets/img/imggamer.jpg">
  <img src="assets/img/imgmando.jpg">
</ion-content>
