<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="Titulo-perfil">
      <ion-icon name="game-controller"></ion-icon>
      Perfil de Usuario 
      <ion-icon name="game-controller"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="lista-perfil">
    <ion-item class="perfil-item">
      <div class="datos-row">
        <span class="datos-label">Nombre:</span>
        <span class="datos-value">{{ datosPerfil?.nombreuser }}</span>
      </div>
    </ion-item>

    <ion-item class="perfil-item">
      <div class="datos-row">
        <span class="datos-label">Apellido:</span>
        <span class="datos-value">{{ datosPerfil?.apellidouser }}</span>
      </div>
    </ion-item>

    <ion-item class="perfil-item">
      <div class="datos-row">
        <span class="datos-label">Teléfono:</span>
        <span class="datos-value">{{ datosPerfil?.telefono_user }}</span>
      </div>
    </ion-item>

    <ion-item class="perfil-item">
      <div class="datos-row">
        <span class="datos-label">Correo:</span>
        <span class="datos-value">{{ datosPerfil?.correo_user }}</span>
      </div>
    </ion-item>

    <ion-item class="perfil-item">
      <div class="datos-row">
        <span class="datos-label">Contraseña:</span>
        <ion-input 
          type="password" 
          [value]="datosPerfil?.clave_user" 
          readonly 
          class="password-input">
        </ion-input>
      </div>
    </ion-item>
  </ion-list>

    <ion-button class="boton-home" color="primary" (click)="Home()">Ir al Inicio</ion-button>
    <ion-button class="boton-modificar-perfil" (click)="modificarperfil()">Modificar Perfil</ion-button>
</ion-content>


