
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.modificar-perfil{
    text-align: center;
    color: black;
    font-weight: bold;
}
.ingresar-datos-modificar-perfil{
    text-align: center;
}
.nombre-modificar-perfil{
    margin: auto;
    width: 350px;
    height: 60px;
    margin-top: 20px;
}
.apellido-modificar-perfil{
    margin: auto;
    width: 350px;
    height: 60px;
}
.telefono-modificar-perfil{
    margin: auto;
    width: 350px;
    height: 60px;
}
.correo-modificar-perfil{
    margin: auto;
    width: 350px;
    height: 60px;
}
.boton-confirmar-cambios{
    padding-left: 40px;
    margin-top: 20px;
}
.boton-volver-al-inicio{
    padding-left: 40px;
    margin-top: 20px;
}
