
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.color-menu{
    color: black;
}
.modificar-perfil{
    text-align: center;
    color: black;
    font-weight: bold;
}
.ingresar-datos-modificar-perfil{
    text-align: center;
    color: black;
}
.nombre-modificar-perfil{
    margin: auto;
    width: 350px;
    --padding-start: 0;
    padding-top: 10px;
}
.apellido-modificar-perfil{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 10px;
    --padding-start: 0;
}
.telefono-modificar-perfil{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 20px;
    --padding-start: 0;
}
.boton-confirmar-cambios{
    padding-top: 30px;
    padding-left: 136px;
    margin-top: 20px;
}
.boton-cambiarcontra{
    padding-left: 120px;
    padding-top: 10px;
    display: block;
}
.contenedor-foto {
    display: flex;
    flex-direction: column; /* Ordena en columna: imagen arriba, botón abajo */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    gap: 15px; /* Espacio entre la imagen y el botón */
  }
  
  .foto {
    height: 150px;
    width: 150px;
    border-radius: 50%; /* Foto circular */
    object-fit: cover; /* Evita distorsión */
    border: 2px solid #ccc; /* Borde opcional */
  }
  
  .tomar-foto {
    width: 50%; /* Ajusta el ancho del botón */
    text-align: center; /* Centra el texto del botón */
  }  

