<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="modificar-perfil">
      <ion-icon name="person-add"></ion-icon>
      Modificar perfil
      <ion-icon name="person-add"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="ingresar-datos-modificar-perfil">Ingrese sus datos</h2>
  <div class="contenedor-foto">
    <img class="foto" *ngIf="imagenmodificarperfil" [src]="imagenmodificarperfil" alt="Sin imagen" />
    <ion-button expand="block" class="tomar-foto" (click)="takePicture()">Tomar Foto</ion-button>
  </div>
  
  <form class="nombre-modificar-perfil"(ngSubmit)="ValidacionModificarPerfil()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input class="nombre-modificar-perfil" label="Nombre" label-placement="floating" fill="solid" 
      placeholder="Ingrese su nombre" [(ngModel)]="nombremodificarperfil" name="nombremodificarperfil" required></ion-input>
    </ion-item>
  </form>

  <form class="apellido-modificar-perfil"(ngSubmit)="ValidacionModificarPerfil()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input class="apellido-modificar-perfil" label="Apellido" label-placement="floating" fill="solid" 
      placeholder="Ingrese su apellido" [(ngModel)]="apellidomodificarperfil" name="apellidomodificarperfil" required></ion-input>
    </ion-item>
  </form>

  <form class="telefono-modificar-perfil"(ngSubmit)="ValidacionModificarPerfil()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input class="telefono-modificar-perfil" label="Telefono" label-placement="floating" fill="solid" 
      placeholder="Ingrese su número de teléfono" [(ngModel)]="telefonomodificarperfil" name="telefonomodificarperfil" required></ion-input>
    </ion-item>
  </form>
  
  <ion-button class="boton-confirmar-cambios" (click)="ValidacionModificarPerfil()">Confirmar</ion-button>
  <a class="boton-cambiarcontra" (click) = "irCambiarcontra()">Cambio de contraseña</a>
</ion-content>
