
.tituloXbox{
    padding-left: 70px;
    color: black;
    font-weight: bold;
}
ion-toolbar{
    --background: #b4f6a8;
  }
  ion-content{
    --background: #a8f6c6;
  }
  .precio{
    text-align: center;
    color: black; 
    font-weight: bold;
  }
  .boton-agregar{
    display:flex;
  }

  