<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="tituloXbox">
      <ion-icon name="logo-xbox"></ion-icon>
      Xbox
      <ion-icon name="logo-xbox"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart" class="contador-productos" (click)="irAlCarrito()"></ion-icon>
      <ion-badge color="primary" *ngIf="productosGuardados > 0">{{ productosGuardados }}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1 class="titulo-juegos-xbox">Juegos de Xbox</h1>

  <div *ngFor="let producto of productosXbox">
    <h2 class="titulo-juegos-xbox">{{ producto.nombre }}</h2>
    <img [src]="producto.imagenUrl" class="imagen-juego" />

    <div class="alinear-precio-stock">
      <p class="precio">Precio: {{ formatCurrency(producto.precio) }}</p>
      <p class="stock-disponible">Stock disponible: {{ producto.stock }}</p>
    </div>

    <ion-button class="boton-agregar" (click)="guardarProductoEnBD(producto)">Agregar al Carrito</ion-button>
    <p class="descripcion-juegos-xbox">{{ producto.descripcion }}</p>
  </div>
</ion-content>

