<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-cambiarcontra">
      <ion-icon name="lock-closed"></ion-icon>
      Cambiar contraseña
      <ion-icon name="lock-closed"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="correo-cambiar-contra"(ngSubmit)="ValidacionCambiarClave()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input class="correo-cambiar-contra" label="Correo" label-placement="floating" fill="solid" 
        placeholder="Ingrese su correo" [(ngModel)]="correocambiarclave" name="correocambiarclave" required></ion-input>
    </ion-item>
  </form>

  <form class="cambiar-contraseña"(ngSubmit)="ValidacionCambiarClave()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input type="password" class="cambiar-contraseña" label="Contraseña" label-placement="floating" fill="solid" 
      placeholder="Ingrese su contraseña" [(ngModel)]="contrasenacambiarclave" name="contrasenacambiarclave" required></ion-input>
    </ion-item>
  </form>

  <form class="confirmar-cambiar-contra"(ngSubmit)="ValidacionCambiarClave()">
    <ion-item>
      <ion-label position="floating"></ion-label>
    <ion-input type="password" class="confirmar-cambiar-contra" label="Confirmar Contraseña" label-placement="floating" 
      fill="solid" placeholder="Confirme su contraseña" [(ngModel)]="confirmarContrasenacambiarclave" name="confirmarContrasenacambiarclave" 
      required></ion-input>
    </ion-item>
  </form>
  
  <ion-button class="boton-confirmar-cambio-contra" (click)="ValidacionCambiarClave()">Confirmar</ion-button>

</ion-content>
