
.titulo-cambiarcontra{
    text-align: center;
    color: black;
    font-weight: bold;
}
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.correo-cambiar-contra{
    margin: auto;
    width: 350px;
    padding-top: 20px;
    --padding-start: 0;
}
.cambiar-contraseña{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 10px;
    --padding-start: 0;
}
.confirmar-cambiar-contra{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 20px;
    --padding-start: 0;
}
.boton-confirmar-cambio-contra{   
    padding-top: 20px;
    padding-left: 130px;
    margin-top: 20px;
}
