
.titulo-cambiarcontra{
    text-align: center;
    color: black;
    font-weight: bold;
}
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.correo-cambiar-contra{
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    --padding-start: 0;
}
.cambiar-contraseña{
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    height: 60px;
    padding-top: 10px;
    --padding-start: 0;
}
.confirmar-cambiar-contra{
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    height: 60px;
    padding-top: 20px;
    --padding-start: 0;
}

.boton-realizar-cambio-contra, .boton-volver-login {
    padding: 10px 20px;  /* Ajusta el padding para que ambos botones tengan el mismo tamaño */
    margin-top: 10px;
    font-size: 14px;  /* Asegura que ambos tengan el mismo tamaño de fuente */
    width: 100%;  /* Hace que ambos botones ocupen el 100% del ancho disponible en cada columna */
    box-sizing: border-box;  /* Asegura que el padding no afecte el tamaño del botón */
    padding-top: 20px;
  }
  
  ion-col {
    display: flex;
    justify-content: center;  /* Centra los botones dentro de las columnas */
  }
  
  .boton-volver-login, .boton-realizar-cambio-contra {
    width: 100%;  /* Ambos botones ocuparán todo el ancho de sus columnas */
  }
  
  .custom-label {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    padding-left: 5px;
    padding-right: 5px; 
  }  

.boton-cancelar{
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 50px;
}
.boton-siguente{
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 60px;
}
  
  
