<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>verificobd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div *ngIf="!tablasVerificadas">
    <p>Verificando tablas...</p>
  </div>

  <div *ngIf="tablasVerificadas && tablasNoCreadas.length === 0">
    <p>Todas las tablas están creadas correctamente.</p>
  </div>

  <div *ngIf="tablasVerificadas && tablasNoCreadas.length > 0">
    <p>Las siguientes tablas no están creadas:</p>
    <ul>
      <li *ngFor="let tabla of tablasNoCreadas">{{ tabla }}</li>
    </ul>
  </div>
  
</ion-content>
