
.Inicio{
    text-align: center;
    color: black;
    font-weight: bold;
}
.Nombre-usuario{
    margin: auto;
    width: 350px;
    height: 60px;
}
.correo-login{
    margin: auto;
    width: 350px;
    height: 60px;
}
.contraseña-login{
    
    margin: auto;
    width: 350px;
    height: 60px;
}
.Titulo-bienvenida{
    text-align: center;
}
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.ircasa{
    margin-left: 30px;
    padding-top: 10px;
}
.registrate{
    position: relative;
    padding-left: 80px;
    padding-top: 10px;
}
.logo-novagames{
    padding-left: 10px;
    padding-right: 10px;
}
.boton-recuperarcontra{
    padding-left: 120px;
}