<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="Inicio">
      <ion-icon name="person"></ion-icon>
      Inicio de Sesión 
      <ion-icon name="person"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h2 class="Titulo-bienvenida">Bienvenido a NovaGames</h2>
  <div class="logo-novagames">
    <img src="assets/img/logo.webp">
  </div>
  <ion-textarea class="Nombre-usuario" label="Nombre usuario" labelPlacement="floating" fill="solid" placeholder="Ingrese su nombre" 
  [(ngModel)]="usuario"></ion-textarea>
  <br>
  <ion-input label="Contraseña" type="password" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
  <ion-button class="ircasa" color="primary" (click)="irPagina()">Ir al Home {{ usuario }}</ion-button>
  <ion-button class="registrate" color="primary" (click)="irRegistro()">Registrate </ion-button>
  <br>
  <a class="boton-recuperarcontra" (click) = "irRecuperar()">¿Olvido su contraseña?</a>
</ion-content>
