<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="Inicio">Inicio de sesion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h2 class="Titulo-bienvenida">Bienvenido a NovaGames</h2>
  <ion-textarea class="Nombre-usuario" label="Nombre usuario" labelPlacement="floating" fill="solid" placeholder="Ingrese su nombre" 
  [(ngModel)]="usuario"></ion-textarea>
  <br />
  <ion-textarea label="Contraseña" labelPlacement="floating" fill="solid" placeholder="Ingrese su contraseña"
  ></ion-textarea>
  <ion-button color="primary" (click)="irPagina()">Ir al Home {{ usuario }}</ion-button>
  <ion-button color="primary" (click)="irRegistro()">Registrate </ion-button>
</ion-content>
