
.Inicio{
    text-align: center;
    color: black;
    font-weight: bold;
}
.Nombre-usuario{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 10px;
    --padding-start: 0;
}
.correo-login{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 20px;
    --padding-start: 0;
}
.contraseña-login{
    margin: auto;
    width: 350px;
    height: 60px;
    padding-top: 30px;
    --padding-start: 0;
}
.Titulo-bienvenida{
    text-align: center;
}
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.ircasa{
    display: flex;        
    justify-content: center;   
    width: 250px;
    padding-left: 40px;
    margin-left: 50px;
    padding-top: 40px;
}
.registrate{
    padding-left: 40px;
}
.logo-novagames{
    padding-left: 10px;
    padding-right: 10px;
}
.boton-recuperarcontra{
    padding-left: 70px;
}