<ion-app>
  <ion-menu-toggle>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title class="menu-usuarios">Menu Principal</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
          <ion-item class="juegos-playstation" [routerDirection]="'root'" [routerLink]="'/playstation'">
            <ion-icon name="logo-playstation"></ion-icon>
            <ion-label>Juegos de Playstation</ion-label>
          </ion-item>
          <ion-item class="juegos-xbox" [routerDirection]="'root'" [routerLink]="'/xbox'">
            <ion-icon name="logo-xbox"></ion-icon>
            <ion-label>Juegos de Xbox</ion-label>
          </ion-item>
          <ion-item class="cerrar-sesion"[routerDirection]="'root'" [routerLink]="'/login'">
          <ion-icon name="reload-circle"></ion-icon>
            <ion-label>Cerrar sesion</ion-label>
          </ion-item>
  
      </ion-content>
  
    </ion-menu>
  </ion-menu-toggle>

  <ion-menu side="start" menuId="menu-admin" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="menu-admin">Menu Administrador</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item class="cerrar-sesion-admin" [routerDirection]="'root'" [routerLink]="'/login'">
        <ion-icon name="reload-circle"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle"></ion-icon>
        Perfil
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="carrito">
        <ion-icon name="cart"></ion-icon>
        Carrito
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-app>
