<ion-app>
  <ion-menu-toggle>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title class="menu-usuarios">Menu Principal</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-item class="inicio" [routerDirection]="'root'" [routerLink]="'/home'">
          <ion-icon class="icon-menu-usuario" name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item class="perfil" [routerDirection]="'root'" [routerLink]="'/perfil'">
          <ion-icon class="icon-menu-usuario" name="person-circle"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item class="carrito" [routerDirection]="'root'" [routerLink]="'/carrito'">
          <ion-icon class="icon-menu-usuario" name="cart"></ion-icon>
          <ion-label>Carrito</ion-label>
        </ion-item>
          <ion-item class="juegos-playstation" [routerDirection]="'root'" [routerLink]="'/playstation'">
            <ion-icon class="icon-menu-usuario" name="logo-playstation"></ion-icon>
            <ion-label>Juegos de Playstation</ion-label>
          </ion-item>
          <ion-item class="juegos-xbox" [routerDirection]="'root'" [routerLink]="'/xbox'">
            <ion-icon class="icon-menu-usuario" name="logo-xbox"></ion-icon>
            <ion-label>Juegos de Xbox</ion-label>
          </ion-item>
          <ion-item class="historial-compras"[routerDirection]="'root'" [routerLink]="'/historialventas'">
            <ion-icon class="icon-menu-usuario" name="receipt-sharp"></ion-icon>
            <ion-label>Historial de Compras</ion-label>
          </ion-item>
          <ion-item class="cerrar-sesion"(click)="cerrarSesion()">
          <ion-icon class="icon-menu-usuario" name="reload-circle"></ion-icon>
            <ion-label>Cerrar sesion</ion-label>
          </ion-item>
  
      </ion-content>
  
    </ion-menu>
  </ion-menu-toggle>

  <ion-menu side="start" menuId="menu-admin" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="menu-admin">Menu Administrador</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item class="administrar-usuarios-admin" [routerDirection]="'root'" [routerLink]="'/administrador'">
        <ion-icon class="icon-menu-admin" name="shield"></ion-icon>
        <ion-label>Administrar Usuarios</ion-label>
      </ion-item>
      <ion-item class="gestion-productos-admin" [routerDirection]="'root'" [routerLink]="'/gestionproductos'">
        <ion-icon class="icon-menu-admin" name="bag-add-sharp"></ion-icon>
        <ion-label>Gestion de Productos</ion-label>
      </ion-item>
      <ion-item class="historial-ventas-usuarios" [routerDirection]="'root'" [routerLink]="'/historialventasadmin'">
        <ion-icon class="icon-menu-admin" name="reader-sharp"></ion-icon>
        <ion-label>Historial de Ventas Usuarios</ion-label>
      </ion-item>
      <ion-item class="cerrar-sesion-admin" [routerDirection]="'root'" [routerLink]="'/login'">
        <ion-icon class="icon-menu-admin" name="reload-circle"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>
