
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
ion-tab-bar{
    --background: #b4f6a8;
}
.inicio{
    --background: #a8f6c6;
    padding-top: 10px;
    color: black;
}
.perfil{
    --background: #a8f6c6;
    color: black;
}
.carrito{
    --background: #a8f6c6;
    color: black;
}
.juegos-playstation{
    --background: #a8f6c6;
    color: black;
}
.juegos-xbox{
    --background: #a8f6c6;
    color: black;
}
.cerrar-sesion{
    --background: #a8f6c6;
    color: black;
}
.cerrar-sesion-admin{
    --background: #a8f6c6;
    padding-top: 10px;
    color: black;
}
.menu-usuarios{
    color: black;
    font-weight: bold;
}
.menu-admin{
    color: black;
    font-weight: bold;
}
.icon-menu-usuario{
    color: black;
}
.icon-menu-admin{
    color: black;
}