
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
ion-tab-bar{
    --background: #b4f6a8;
}
.juegos-playstation{
    --background: #a8f6c6;
    padding-top: 10px;
}
.juegos-xbox{
    --background: #a8f6c6;
}
.registro-menu{
   --background: #a8f6c6;
}