ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.color-menu{
    color: black;
}
.titulo-gestion-productos{
    text-align: center;
    color: black;
    font-weight: bold;
}