<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-gestion-productos">
      <ion-icon class="icon-menu-admin" name="bag-add-sharp"></ion-icon>
      Gestion de Productos
      <ion-icon class="icon-menu-admin" name="bag-add-sharp"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-label>
        <h2>{{ producto.nombre_prod }}</h2> <!-- Asegúrate de que coincida con el nombre del campo en el objeto producto -->
        <p>Precio: {{ producto.precio_prod | currency }}</p> <!-- Asegúrate de que coincida con el nombre del campo en el objeto producto -->
        <p>Categoria: {{ producto.nombre_cat }}</p> <!-- Nombre de la categoría -->
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
