<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-gestion-productos">
      <ion-icon class="icon-menu-admin" name="bag-add-sharp"></ion-icon>
      Gestion de Productos
      <ion-icon class="icon-menu-admin" name="bag-add-sharp"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="lista-productos" *ngFor="let producto of productos">
      <ion-label class="lista-productos">
        <h2 class="datos-productos-admin">{{ producto.nombre_prod }}</h2> <!-- Nombre del producto -->
        <p class="datos-productos-admin">Precio: {{ formatCurrency(producto.precio_prod) }}</p> <!-- Precio -->
        <p class="datos-productos-admin">Categoria: {{ producto.nombre_cat }}</p> <!-- Categoría -->
        <p class="datos-productos-admin">Stock máximo: {{ getStockMaximo(producto.id_prod) }}</p><!-- Stock máximo -->
        <p class="datos-productos-admin">Stock actual: {{ producto.stock_prod }}</p> <!-- Stock actual -->
  
        <!-- Caja de texto y botón debajo de los datos -->
        <div class="datos-productos-admin">
          <ion-input 
            type="number" 
            placeholder="Insertar cantidad:" 
            class="input-agregar-stock">
          </ion-input>
          <ion-button class="boton-agregar-stock" color="primary">
            Agregar Stock
          </ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list> 
  
</ion-content>
