<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="recuperar-contra">
      <ion-icon name="lock-closed"></ion-icon>
      Recuperar contraseña
      <ion-icon name="lock-closed"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Formulario para la validación de correo -->
  <form class="correo-recuperar-contra" (ngSubmit)="ValidacionRecuperarClave()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input class="correo-recuperar-contra" label="Correo" label-placement="floating" fill="solid" 
        placeholder="Ingrese su correo" [(ngModel)]="correorecuperarclave" name="correorecuperarclave" required></ion-input>
    </ion-item>
    <ion-row>
      <!-- Botón Volver a inicio -->
      <ion-col class="ion-text-start">
        <ion-button class="boton-volver-login" (click)="RegresarLogin()">Volver inicio</ion-button>
      </ion-col>
      <!-- Botón Cambiar clave -->
      <ion-col class="ion-text-end">
        <ion-button type="submit" class="boton-confirmar-contraseña">Cambiar clave</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <!-- Si la validación fue exitosa, mostrar preguntas -->
  <div *ngIf="mostrarPreguntas">
    <ion-item>
      <ion-label>Seleccione una pregunta: </ion-label>
      <ion-select [(ngModel)]="preguntaSeleccionada" (ionChange)="cargarRespuestas()">
        <ion-select-option *ngFor="let pregunta of preguntas" [value]="pregunta">{{pregunta.pregunta}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Mostrar las respuestas dependiendo de la pregunta seleccionada -->
    <ion-item *ngIf="respuestas.length > 0">
      <ion-label>Respuestas: </ion-label>
      <ion-select [(ngModel)]="respuestaSeleccionada" required>
        <ion-select-option *ngFor="let respuesta of respuestas" [value]="respuesta">{{respuesta}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="cancelarPreguntas()">Cancelar</ion-button>
    <ion-button (click)="siguientePaso()">Siguiente</ion-button>
  </div>

</ion-content>




