
.recuperar-contra{
    text-align: center;
    color: black;
    font-weight: bold;
}
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.correo-recuperar-contra{
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    --padding-start: 0;
}
.boton-confirmar-contraseña{
    padding-top: 10px;
    margin-top: 10px;
    padding-right: 20px;
}
.boton-volver-login{
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 30px;
}

.custom-label {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    padding-left: 5px;
    padding-right: 5px; 
  }  

.boton-cancelar{
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 50px;
}
.boton-siguente{
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 60px;
}

