
.recuperar-contra{
    text-align: center;
    color: black;
    font-weight: bold;
}
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.correo-recuperar-contra{
    margin: auto;
    width: 350px;
    height: 60px;
    margin-top: 40px;
}
.contraseña-recuperar-contra{
    margin: auto;
    width: 350px;
    height: 60px;
}
.confirmar-contraseña-recuperar-contra{
    margin: auto;
    width: 350px;
    height: 60px;
}
.boton-confirmar-contraseña{
    padding-left: 40px;
    margin-top: 20px;
}
.Boton-regresar-inicio{
    padding-left: 40px;
    margin-top: 20px;
}