<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="recuperar-contra">
      <ion-icon name="lock-closed"></ion-icon>
      Recuperar contraseña
      <ion-icon name="lock-closed"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="correo-recuperar-contra"(ngSubmit)="ValidacionRecuperarClave()">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input class="correo-recuperar-contra" label="Correo" label-placement="floating" fill="solid" 
        placeholder="Ingrese su correo" [(ngModel)]="correorecuperarclave" name="correorecuperarclave" required></ion-input>
    </ion-item>
  </form>

  <ion-button class="boton-volver-login" (click)="RegresarLogin()">Volver inicio</ion-button>
  <ion-button class="boton-confirmar-contraseña" (click)="ValidacionRecuperarClave()">Cambiar clave</ion-button>

</ion-content>
