
.recuperar-contra{
    text-align: center;
    color: black;
    font-weight: bold;
}
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.correo-recuperar-contra{
    margin: auto;
    width: 350px;
    padding-top: 30px;
    --padding-start: 0;
}
.boton-confirmar-contraseña{
    padding-top: 10px;
    margin-top: 10px;
}
.boton-volver-login{
    padding-top: 10px;
    margin-top: 10px;
}
