<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="Carrito">
      <ion-icon name="cart"></ion-icon>
      Carrito de compras
      <ion-icon name="cart"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="tus-productos-carrito">Tus Productos</h2>

  <!-- Lista de productos en el carrito -->
  <ion-list class="lista-productos-carrito">
    <ion-item *ngFor="let producto of productos" class="producto-item">
      <div class="datos-row">
        <span class="datos-label">{{ producto.nombre }}</span>
      </div>
      <div class="datos-row">
        <span class="datos-label">Precio:</span>
        <span class="datos-value">${{ producto.precio }}</span>
      </div>
      <div class="datos-row">
        <span class="datos-label">Cantidad:</span>
        <span class="datos-value">{{ producto.stock }}</span>
      </div>
    </ion-item>
  </ion-list>
  

  <!-- Botón para comprar -->
  <ion-button class="boton-comprar" expand="full" (click)="Comprar()">Comprar</ion-button>
</ion-content>




