<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="Carrito">
      <ion-icon name="cart"></ion-icon>
      Carrito de compras
      <ion-icon name="cart"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="tus-productos-carrito">Tus Productos</h2>
  

  <ion-button class="boton-comprar" expand="full" (click)="Comprar()">Comprar</ion-button>
</ion-content>



