<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="Carrito">
      <ion-icon name="cart"></ion-icon>
      Carrito de compras
      <ion-icon name="cart"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Verificar si hay productos en el carrito -->
  <div *ngIf="productos.length === 0" class="mensaje-carrito-vacio">
    <h2 class="titulo-sin-productos">
      <span>Agregue</span>
      <span>Sus</span>
      <span>Productos</span>
      <span>Aquí</span>
    </h2>
  </div>  
  <ion-list class="lista-productos-carrito" *ngIf="productos.length > 0">
    <ion-item *ngFor="let producto of productosConvertidos" class="producto-item">
      <ion-thumbnail slot="start" class="imagen-producto">
        <img [src]="producto.imagen_prod" alt="Imagen del producto">
      </ion-thumbnail>
      
      <!-- Contenedor de los datos del producto -->
      <div class="datos-producto">
        <!-- Ícono de basurero arriba del nombre y alineado a la derecha -->
        <ion-icon class="basurero" name="trash-sharp" ></ion-icon>
        
        <div class="datos-row">
          <span class="datos-label">{{ producto.nombre }}</span>
        </div>
        <div class="datos-row">
          <span class="datos-label">Precio:</span>
          <span class="datos-value">{{ formatCurrency(producto.precioConvertido || producto.precio) }}</span>
        </div>
        <div class="datos-row">
          <span class="datos-label">Cantidad:</span>
          <button (click)="modificarCantidad('decrementar', producto)" [disabled]="producto.cantidad <= 1">-</button>
          <span class="datos-value">{{ producto.cantidad }}</span>
          <button (click)="modificarCantidad('incrementar', producto)">+</button>
        </div>
        <div class="datos-row total-row">
          <span class="datos-label">Subtotal:</span>
          <span class="datos-value">{{ formatCurrency(calcularSubtotal(producto)) }}</span>
        </div>
      </div>
    </ion-item>
  </ion-list>  
  
  <!-- Total a Pagar fuera de la lista, solo se muestra si hay productos -->
  <div class="total-pagar" *ngIf="productos.length > 0">
    <span class="total-label">Total a Pagar:</span>
    <span class="total-value">{{ formatCurrency(calcularTotalAPagar()) }}</span>
  </div>
  
  <!-- Selector de Formato, solo se muestra si hay productos -->
  <div *ngIf="productos.length > 0">
    <ion-item lines="none" class="custom-button">
      <ion-label class="custom-label">Formato:</ion-label>
      <ion-select 
        #select 
        aria-label="currency" 
        placeholder="Seleccionar" 
        interface="popover" 
        [value]="selectedCurrency" 
        (ionChange)="onCurrencyChange($event)" 
        class="custom-select"
      >
        <ion-select-option value="usd"> Dolar (USD)</ion-select-option>
        <ion-select-option value="uf">Unidad Fomento (UF)</ion-select-option>
        <ion-select-option value="clp">Pesos chilenos (CLP)</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  
  <ion-button class="boton-comprar" expand="full" (click)="Comprar()" *ngIf="productos.length > 0">Comprar</ion-button> 

</ion-content>



