
.titulo-notfound{
    text-align: center;
    color: black;
    font-weight: bold;
}
ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.gif{
    padding-top: 60px;
}
.subtitulo{
    text-align: center;
    padding-top: 30px;
}
.volver-tienda{
    padding-top: 30px;
    padding-left: 106px;
}