ion-toolbar{
    --background: #b4f6a8;
}
ion-content{
    --background: #a8f6c6;
}
.color-menu{
    color: black;
}
.titulo-historial-compras{
    text-align: center;
    color: black;
    font-weight: bold;
}

  /* Estilos generales para la compra */
ion-card {
    margin-bottom: 20px;
  }
  
  .producto-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Línea separadora entre productos */
  }
  
  .producto-nombre {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .producto-imagen {
    text-align: center;
    margin-bottom: 15px;
  
    img {
      max-width: 100%; /* Para que no se desborde */
      height: auto;
    }
  }
  
  .producto-cantidad,
  .correo-usuario,
  .producto-total {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .producto-cantidad strong,
  .producto-total strong,
  .correo-usuario strong {
    font-weight: bold;
  }
  
  /* Estilo adicional para los títulos */
  ion-card-header {
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  ion-card-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  
  .mensaje-historial-compras-vacio {
    position: absolute; /* Posiciona el div en toda la pantalla */
    top: 0; /* Ajusta la posición superior */
    left: 0; /* Ajusta la posición izquierda */
    width: 100%; /* Ocupa el 100% del ancho */
    height: 70%; /* Ocupa el 70% de la altura */
    display: flex; /* Usa flexbox para centrar el contenido */
    flex-direction: column; /* Alinea los elementos de forma vertical */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 10; /* Asegura que el mensaje esté por encima de otros elementos */
  }
  
  .titulo-sin-compras {
    font-size: 24px; /* Ajusta el tamaño de la fuente */
    font-weight: bold; /* Hace que el texto sea negrita */
    color: black;
    text-align: center; /* Alinea el texto al centro */
  }
  .titulo-sin-compras span {
    display: block; /* Hace que cada palabra esté en una línea separada */
    font-size: 32px; /* Ajusta el tamaño de cada palabra */
    line-height: 1.5; /* Ajusta la separación entre las líneas */
  }  
  

