<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-historial-compras">
      <ion-icon class="icon-menu-usuario" name="receipt-sharp"></ion-icon>
      Historial de Compras
      <ion-icon class="icon-menu-usuario" name="receipt-sharp"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mostrar un mensaje si no hay compras -->
<div *ngIf="compras.length === 0">
  <ion-text color="primary">
    <h2>No tienes compras registradas</h2>
  </ion-text>
</div>

<!-- Mostrar las compras cuando existan -->
<ion-list *ngIf="compras.length > 0">
  <ion-item *ngFor="let compra of compras">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Compra #{{ compra.id_compra }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Correo del usuario:</strong> {{ compra.correo_usuario }}</p>

        <!-- Iterar sobre los productos asociados a la compra -->
        <ion-list>
          <ion-item *ngFor="let producto of compra.productos">
            <p><strong>ID del producto:</strong> {{ producto.id_prod }}</p>
            <p><strong>Cantidad:</strong> {{ producto.cantidad }}</p>
            <p><strong>Total:</strong> {{ producto.subtotal | currency }}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>

</ion-content>


