<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="color-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-historial-compras">
      <ion-icon class="icon-menu-usuario" name="receipt-sharp"></ion-icon>
      Historial de Compras
      <ion-icon class="icon-menu-usuario" name="receipt-sharp"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  !-- Mostrar los indicadores si los datos están disponibles -->
  <div *ngIf="dolar && uf && ipc">
    <h2>Indicadores Económicos</h2>
    <p><strong>Dólar:</strong> {{ dolar.valor }} {{ dolar.codigo }}</p>
    <p><strong>UF:</strong> {{ uf.valor }} {{ uf.codigo }}</p>
    <p><strong>IPC:</strong> {{ ipc.valor }} {{ ipc.codigo }}</p>
  </div>

  <!-- Mensaje de carga en caso de que los datos no estén disponibles -->
  <div *ngIf="!dolar || !uf || !ipc">
    <p>Cargando indicadores...</p>
  </div>
</ion-content>
